[submodule "docs/HSDS"]
	path = docs/HSDS
	url = https://github.com/openreferral/specification.git
[submodule "docs/GeoJson/States"]
	path = docs/GeoJson/States
	url = https://github.com/OpenDataDE/State-zip-code-GeoJSON
[submodule "app/scraper/scrapers"]
	path = app/scraper/scrapers
	url = https://github.com/For-The-Greater-Good/scrapers.git
[submodule "plugins/ppr-helm"]
	path = plugins/ppr-helm
	url = https://github.com/For-The-Greater-Good/ppr-helm.git
[submodule "plugins/ppr-write-api"]
	path = plugins/ppr-write-api
	url = https://github.com/For-The-Greater-Good/ppr-write-api.git
[submodule "plugins/ppr-lighthouse"]
	path = plugins/ppr-lighthouse
	url = https://github.com/For-The-Greater-Good/ppr-lighthouse.git
[submodule "plugins/ppr-beacon"]
	path = plugins/ppr-beacon
	url = https://github.com/For-The-Greater-Good/ppr-beacon.git
